.container {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  font-family: Arial, sans-serif;
  color:brown
}

.input-section {
  margin-bottom: 20px;
  
}

input[type="text"] {
  padding: 8px;
  width: 220px;
  background-color: aquamarine;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
  background-color: aqua;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.completed {
  text-decoration: line-through;
  color: gray;
}